# 忽略文件
.DS_Store
*/.settings/
*/.DS_Store
*.class
*.iml
*/*.iml
**/*.iml
*.log
.classpath

# 包文件 #
*.jar
*.war
*.zip
*.tar.gz
*.rar

# 忽略文件夹
.settings/
.gradle/
.externalToolBuilders/

**/target/
**/build/
**/out/
classes/
**/logs/
**/.idea/
.idea/

